html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#mapTitle {
    position: fixed;
    top: 0px;
    left: 5%;
    font-weight: 700;
}

#searchbar {
    position: fixed;
    top: 60px;
    left: 5%;
    width: 21%;
}

#search-input {
    position: absolute;
    width: 100%;
}

#restaurant-List {
    position: relative;
    background-color: #fff;
    top: 40px;
    list-style-type: none;
    padding: 0;
    margin: 1px;
}

#yelp-title {
    font-size: 160%;
}

#yelp-review-title {
    position: fixed;
    top: 80px;
}

#yelp-review {
    position: relative;
    top: 120px;
    left: 50px;
}