html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#mapTitle {
    position: fixed;
    top: 0px;
    left: 5%;
    font-weight: 700;
}